* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.containerHome {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw; /* Use vw (viewport width) instead of vh */
    height: 100vh;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
    z-index: 1;
}

.outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.703); 
}

.details {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.details h1 {
    font-size: 3.2em;
    color: salmon;
    margin-bottom: 1.5rem;
}

.details h3 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 1.5rem;
}
.btn {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: salmon;
    text-decoration: none;
}

@keyframes animate {
    0%, 100% {
        background-image: url(bg.jpg);
    }
    25% {
        background-image: url(bg2.jpg);
    }
    50% {
        background-image: url(bg3.jpg);
    }
    75% {
        background-image: url(bg4.jpg);
    }
}
